<template name="friends">




  {{#contentFor "headerTitle"}}
    <h1 class="title">朋友圈</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
	  <div class="container">
	    <div id="main">
	      <div class="posts">
		    
		      <div class="post">
			    <div class="post-content">
			      <img src="friends/group.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;【LetsGo一起跑】项目组(5)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;zhongyanshan:sublime2安装package contral...</span>
			    </div>
			  </div>

			  <div class="post">
			    <div class="post-content">
			      <img src="friends/group2.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;Meteor精益创业孵化营(32)</h3>
			      <br><br>
			      <span style="color:#ccc;">&nbsp;李明:明天打算和大家一起分析一下 localmarket 这个项目...</span>
			    </div>
			  </div>

			  <div class="post">
			    <div class="post-content">
			      <img src="friends/group3.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;孵化营周末课程通知群(30)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;张乃乾:各位孵化营小伙伴，明天上课还在清华FIT楼...</span>
			    </div>
			  </div>
		    
		    <div class="post">
			    <div class="post-content">
			      <img src="friends/group.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;【LetsGo一起跑】项目组(5)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;jrsoft:hello,meteor!...</span>
			    </div>
			  </div>

			  <div class="post">
			    <div class="post-content">
			      <img src="friends/group.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;【LetsGo一起跑】项目组(5)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;jrsoft:hello,meteor!...</span>
			    </div>
			  </div>

			  <div class="post">
			    <div class="post-content">
			      <img src="friends/group.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;【LetsGo一起跑】项目组(5)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;jrsoft:hello,meteor!...</span>
			    </div>
			  </div>

			  <div class="post">
			    <div class="post-content">
			      <img src="friends/group.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;【LetsGo一起跑】项目组(5)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;jrsoft:hello,meteor!...</span>
			    </div>
			  </div>

			  <div class="post">
			    <div class="post-content">
			      <img src="friends/group.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;【LetsGo一起跑】项目组(5)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;jrsoft:hello,meteor!...</span>
			    </div>
			  </div>

			  <div class="post">
			    <div class="post-content">
			      <img src="friends/group.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;【LetsGo一起跑】项目组(5)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;jrsoft:hello,meteor!...</span>
			    </div>
			  </div>

			  <div class="post">
			    <div class="post-content">
			      <img src="friends/group.png" width="70px" height="70px" border="1px" style="float:left">
			      <h3 style="float:left">&nbsp;【LetsGo一起跑】项目组(5)</h3>
			      <br><br>
			      <span style="color:#ccc">&nbsp;jrsoft:hello,meteor!...</span>
			    </div>
			  </div>
		  </div>
	    </div>
	  </div>
    {{/ionContent}}
  {{/ionView}}

</template>