<template name="go">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      search
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">一起跑</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div style="padding:20px;">一起跑</div>
    {{/ionContent}}
  {{/ionView}}
</template>
