<template name="go">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">一起跑</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      
  <div id="mapContainer" style="height:100%;width:100%;"></div>
  
    <script type="text/javascript">
    (function(exports){
      
      var map = new AMap.Map('mapContainer', {
        //resizeEnable: true,
        //rotateEnable: true,
        //dragEnable: true,
        //zoomEnable: true,
        //设置可缩放的级别
        //zooms: [3,18],
        //传入2D视图，设置中心点和缩放级别
        view: new AMap.View2D({
          center: new AMap.LngLat(116.397428, 39.90923),
          zoom: 12
        })
      });     
    })(window);
    
  </script>

    {{/ionContent}}
  {{/ionView}}
</template>
