<template name="appLayout">

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

    {{#if isAndroid}}
      {{#ionTabs style="android"}}
        {{> ionTab title="一起跑" path="go" icon="android-star"}}
        {{> ionTab title="朋友圈" path="friends" icon="android-time"}}
        {{> ionTab title="排行榜" path="rank" icon="android-notifications"}}
        {{> ionTab title="我自己" path="me" icon="android-happy"}}
      {{/ionTabs}}
    {{else}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="一起跑" path="go" iconOff="ios-bolt-outline" iconOn="ios-bolt letsgo-tab-go" class="tab-item-positive"}}
        {{> ionTab title="朋友圈" path="friends" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive"}}
        {{> ionTab title="排行榜" path="rank" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
        {{> ionTab title="我自己" path="me" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
      {{/ionTabs}}
    {{/if}}
  {{/ionBody}}

</template>
