<template name="rank">

 

  {{#contentFor "headerTitle"}}
    <h1 class="title">

    	
    排行榜</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="box box-solid" style="float:left;" >
    <div class="box-body layout-top-nav">

              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Rank<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">本周总跑量排名</a></li>
                    <li><a href="#">本周平均速度排名</a></li>
                    <li class="divider"></li>
                    <li><a href="#">本月总跑量排名</a></li>
                    <li><a href="#">本月平均速度排名</a></li>
                  </ul>
                </li>
              </ul>

    </div>
  </div>
<br>
<div class="info-box bg-red">
  <span class="info-box-icon">
    <img class="direct-chat-img" src="letsgo/rank/user8-128x128.jpg" /><!-- /.direct-chat-img -->
  </span>
  <div class="info-box-content">
    <span class="info-box-text">雷之宇</span>
    <span class="info-box-number">41,410 m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
    <span class="progress-description">
      总运动时间：04:30:20 &nbsp; &nbsp;平均配速（m/km）：0.35
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-yellow">
  <span class="info-box-icon">
    <img class="direct-chat-img" src="letsgo/rank/user1-128x128.jpg" /><!-- /.direct-chat-img -->
  </span>
  <div class="info-box-content">
    <span class="info-box-text">钟艳山</span>
    <span class="info-box-number">31,410 m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 90%"></div>
    </div>
    <span class="progress-description">
      总运动时间：03:30:20 &nbsp; &nbsp;平均配速（m/km）：0.28
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-green">
  <span class="info-box-icon">
    <img class="direct-chat-img" src="letsgo/rank/user4-128x128.jpg" />
  </span>
  <div class="info-box-content">
    <span class="info-box-text">张媛媛</span>
    <span class="info-box-number">21,410 m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 80%"></div>
    </div>
    <span class="progress-description">
      总运动时间：03:00:20 &nbsp; &nbsp;平均配速（m/km）：0.28
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-gray">
  <span class="info-box-icon">
    <img class="direct-chat-img" src="letsgo/rank/user7-128x128.jpg" />
  </span>
  <div class="info-box-content">
    <span class="info-box-text">康宇</span>
    <span class="info-box-number">11,410m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 70%"></div>
    </div>
    <span class="progress-description">
      总运动时间：02:30:20 &nbsp; &nbsp;平均配速（m/km）：0.13
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-gray">
  <span class="info-box-icon">
    <img class="direct-chat-img" src="letsgo/rank/user5-128x128.jpg" />
  </span>
  <div class="info-box-content">
    <span class="info-box-text">杨玉霞</span>
    <span class="info-box-number">10,510m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 60%"></div>
    </div>
    <span class="progress-description">
      总运动时间：02:30:20 &nbsp; &nbsp;平均配速（m/km）：0.13
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-gray">
  <span class="info-box-icon">
  	<i class="fa fa-comments-o">
  		<img class="direct-chat-img" src="letsgo/rank/user5-128x128.jpg" />
  	</i>
  </span>
  <div class="info-box-content">
    <span class="info-box-text">刘彦佑</span>
    <span class="info-box-number">9,610m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 50%"></div>
    </div>
    <span class="progress-description">
      总运动时间：02:30:20 &nbsp; &nbsp;平均配速（m/km）：0.13
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-gray">
  <span class="info-box-icon">
  	<i class="fa fa-comments-o">
  		<img class="direct-chat-img" src="letsgo/rank/avatar04.png" />
  	</i>
  </span>
  <div class="info-box-content">
    <span class="info-box-text">芦超</span>
    <span class="info-box-number">7,410m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 35%"></div>
    </div>
    <span class="progress-description">
      总运动时间：02:30:20 &nbsp; &nbsp;平均配速（m/km）：0.13
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-gray">
  <span class="info-box-icon">
  	<i class="fa fa-comments-o"><img class="direct-chat-img" src="letsgo/rank/avatar04.png" /></i>
  </span>
  <div class="info-box-content">
    <span class="info-box-text">李四</span>
    <span class="info-box-number">6,410m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 30%"></div>
    </div>
    <span class="progress-description">
      总运动时间：02:30:20 &nbsp; &nbsp;平均配速（m/km）：0.13
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-gray">
  <span class="info-box-icon">
  	<i class="fa fa-comments-o"><img class="direct-chat-img" src="letsgo/rank/avatar5.png" /></i>
  </span>
  <div class="info-box-content">
    <span class="info-box-text">张三</span>
    <span class="info-box-number">5,210m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 25%"></div>
    </div>
    <span class="progress-description">
      总运动时间：02:30:20 &nbsp; &nbsp;平均配速（m/km）：0.13
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
<div class="info-box bg-gray">
  <span class="info-box-icon">
  	<i class="fa fa-comments-o"><img class="direct-chat-img" src="letsgo/rank/avatar5.png" /></i>
  </span>
  <div class="info-box-content">
    <span class="info-box-text">王五</span>
    <span class="info-box-number">3,340m</span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 15%"></div>
    </div>
    <span class="progress-description">
      总运动时间：02:30:20 &nbsp; &nbsp;平均配速（m/km）：0.13
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
    {{/ionContent}}
  {{/ionView}}

</template>